.admin-profile-img {
  width: 80%;
  height: 60%;
  border-radius: 50%;
  object-fit: cover;
  
}
.related-data-profile img{
  width: 20%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-overlap {
  position: relative;
  left: -30px;
}

