.profileContainer {
  position: relative;
  height: 75vh;
}

.profile-card {
  max-width: 1000px;
  width: 100%;
  border: none;
  background: #f9f9f9;
  border-radius: 12px;
}

.default-profile-image {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  display: inline-block;
  margin-bottom: 15px;
}

.action_btn {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  justify-content: center;
}

.userEmail {
  margin-bottom: 70%;
}

.profile_img {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px #E86924);
}

.profile_sectionTitle {
 text-align: center;
 color: #E86924;
}

@media (max-width: 768px) {
  .profile-card {
    padding: 20px;
  }

  .col-md-4 {
    border: none;
    text-align: center;
  }

  .col-md-8 {
    padding-top: 20px;
  }

  .profile_img {
    width: 80%;
  }

  .userEmail {
    margin-bottom: 10%;
  }

  .profile_section {
    border: none !important;
    margin: auto;
  }

  .profile_sectionTitle {
    text-align: start;
    margin-top: 20px;
  }

  .profileContainer {
    height: 90vh;
  }
  
}
