.admin-sidebar,
.investor-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  border-right: 1px solid #dee2e6;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.admin-sidebar {
  background-color: #E86924;
  color: #dee2e6;
  
}

.investor-sidebar {
  background-color: #fff;
  color: #000;
}

.breakline {
  border-bottom: 1px solid #dee2e6;
  margin: 20px 0;
  width: 100%;
  height: 3px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.admin-sidebar ul,
.investor-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.admin-sidebar ul li,
.investor-sidebar ul li {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.admin-sidebar ul li:hover,
.admin-sidebar ul li.active {
  background-color: #e9ecef;
  color: #E86924;
}

.investor-sidebar ul li a:hover,
.investor-sidebar ul li a.active {
  background-color: #E86924;
  color: #E86924 !important;
  border-radius: 8px;
}

.admin-sidebar ul li a,
.investor-sidebar ul li a  {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  
  transition: .3s;
  padding: 0.6rem 1rem;
}

.admin-sidebar ul li a {
  color:#dee2e6;
}

.investor-sidebar ul li a {
  color:#000;
}

.usercountry {
  font-size: 12px;
}

@media (max-width: 992px) {
  .admin-sidebar,
  .investor-sidebar {
    width: 200px;
  }

  .sidebar-text {
    display: block;

  }
  
  .sidebar-text:hover {
    color:#E86924
    
  }
}

@media (max-width: 800px) {
  .admin-sidebar,
  .investor-sidebar {
    width: 150px;
    padding: 10px;
  }

  .logo {
    font-size: 18px;
  }

  .admin-sidebar ul li,
  .investor-sidebar ul li {
    padding: 10px;
  }

  .sidebar-text {
    display: none !important;
  }
       .sidebar-text {
    color: #E86924;
  }

}

@media (max-width: 768px) {
  .admin-sidebar,
  .investor-sidebar {
    width: 80px;
    padding: 10px;
    margin: 0 auto;
  }

  .admin-sidebar .logo,
   .investor-sidebar .logo{
    display: none;
  }

  .admin-sidebar ul li ,
  .investor-sidebar ul li {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .admin-sidebar,
  .investor-sidebar {
    width: 60px;
  }

  .admin-sidebar ul li ,
  .investor-sidebar ul li {
    justify-content: center;
    padding: 10px;
  }

  /* .admin-sidebar ul li span,
  .investor-sidebar ul li span {
    display: none;
  } */

}
