@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 999999999;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
  }
}
