.BgColor_time {
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EDEFF2;
    margin-right: 10px;
    padding: 6px 21px !important;
}
